<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>숙제2- 주문페이지 만들기</title>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

   <style type="text/css">* {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(http://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2011/10/28/animated-nyan-cat-rainbow.html" target="_blank" title="Animated Rainbow Nyan Cat"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Animated Rainbow Nyan Cat" style="position:absolute; top: 0px; right: 0px; background-size: 30px" /></a>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("sample4_roadAddress").value = roadAddr;

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>

</head>
<body>
  <div class="screen">
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" id="shirt_button">TOP ▲</button>
        <button type="button" class="list-group-item list-group-item-action" id="pant_button">BUTTOM ▼</button>
    </div>
    <div class="bunny">
      <h2 class="weather">요즘 날씨가 추워요(5~8℃)</h2>
      <img id="character" src="https://s-media-cache-ak0.pinimg.com/originals/d5/19/f0/d519f0f021325f16e85a193ec3718130.png" /> 

      <img id="top1" class="shirt" src="https://s-media-cache-ak0.pinimg.com/originals/25/43/a9/2543a9ef622c17ca0ccd1fae4441a8ac.png" />
    
      <img id="top2" class="shirt" src="https://s-media-cache-ak0.pinimg.com/originals/05/b5/56/05b556aee24a79e17050270c7274de8c.png" />
  

      <img id="top3" class="shirt" src="https://s-media-cache-ak0.pinimg.com/originals/d7/5c/ba/d75cbab4c752bcd839098e7304fa449b.png" />
  

      <img id="top4" class="shirt" src="https://s-media-cache-ak0.pinimg.com/originals/84/07/2f/84072f86cc9c7700367b958b1252527b.png" />
  

      <img id="top5" class="shirt" src="https://s-media-cache-ak0.pinimg.com/originals/d3/72/cf/d372cf67ffa1073da171f6824ed30140.png" />
  

      <img id="top6" class="shirt" src="https://s-media-cache-ak0.pinimg.com/originals/20/72/f6/2072f64b75fb5753a6b038312697fa0d.png" />
    

      <img id="top7" class="shirt" src="https://s-media-cache-ak0.pinimg.com/originals/1f/86/b1/1f86b13b426f5ab1483326c97eaa962c.png" />
  

      <img id="bottom1" class="pant" src="https://s-media-cache-ak0.pinimg.com/originals/b3/c2/4d/b3c24d75d647564cdaa1d85f854587ba.png" />


      <img id="bottom2"  class="pant" src="https://s-media-cache-ak0.pinimg.com/originals/a5/3a/56/a53a562de60d53e341289584e585f776.png" />
  

      <img id="bottom3" class="pant" src="https://s-media-cache-ak0.pinimg.com/originals/2b/26/3b/2b263b07bcdd3d2fafab6ec03402e255.png" />
  

      <img id="bottom4" class="pant" src="https://s-media-cache-ak0.pinimg.com/originals/dd/a6/d7/dda6d7944174edbd743d92360e2ef8f5.png" />


      <img id="bottom5" class="pant" src="https://s-media-cache-ak0.pinimg.com/originals/94/c7/15/94c715a60995c215a74a2492a5bea344.png" />


      <img id="bottom6" class="pant" src="https://s-media-cache-ak0.pinimg.com/originals/da/1a/16/da1a1609695435ddc106d4f8989f1535.png" />
    
      <img id="bottom7" class="pant" src="https://s-media-cache-ak0.pinimg.com/originals/c3/78/78/c3787895d353d3b4d8534855ae0b1d83.png" />
    

    </div>
    <div id="order">
      <div class="wrap">
        <h1>WELCOME TO THE BUNNY'S SHOP</h1>
        <div id="divide">
          <div id="price">
            <div class="price_box">
              <img src="https://s-media-cache-ak0.pinimg.com/originals/84/07/2f/84072f86cc9c7700367b958b1252527b.png" class="price_img" id="price_img_top" alt="...">
              <div class="priceinfo">
                <h5 id="top_name">TOP 4</h5>
                <p id="top_price">$20</p>
              </div>
            </div>
            <div class="price_box">
              <img src="https://s-media-cache-ak0.pinimg.com/originals/a5/3a/56/a53a562de60d53e341289584e585f776.png" class="price_img" id="price_img_bottom" alt="...">
              <div class="priceinfo">
                <h5 id="bottom_name" >BOTTOM 2</h5>
                <p id="bottom_price">$100</p>
              </div>
            </div>
          </div>
          <div id="orderform">
            <h2>주문하기</h2>
            <div class="item">
                <label for="name">이름</label>
                <input type="text" maxlength="10" id="name">
            </div>
            <div class="item">
                <label for="order-top" for="t_count">상의</label>
                <select name="order-top" id="order-top">
                    <option value="">무엇이 마음에 드시나요?</option>
                    <option value="1">TOP1</option>
                    <option value="2">TOP2</option>
                    <option value="3">TOP3</option>
                    <option value="4">TOP4</option>
                    <option value="5">TOP5</option>
                    <option value="6">TOP6</option>
                    <option value="7">TOP7</option>
                </select>
                <select name="t_count" id="t_count">
                <option value="">상의 개수</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            </div>
            <div class="item">
                <label for="order-bottom" for="b_count">하의</label>
                <select name="order-bottom" id="order-bottom">
                    <option value="">무엇이 마음에 드시나요?</option>
                    <option value="1">BOTTOM1</option>
                    <option value="2">BOTTOM2</option>
                    <option value="3">BOTTOM3</option>
                    <option value="4">BOTTOM4</option>
                    <option value="5">BOTTOM5</option>
                    <option value="6">BOTTOM6</option>
                    <option value="7">BOTTOM7</option>
                </select>
                <select name="b_count" id="b_count">
                  <option value="">하의 개수</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
            </div>
            <div class="item">
                <label for="email">이메일</label>
                <input type="email" placeholder="1234@email.com" id="email">
            </div>
            <div class="item">
                <label for="tel">핸드폰</label>
                <input type="tel" placeholder="010-1234-5678" id="tel">
            </div>
            <div class="item">
                <label for="sample4_detailAddress" for="sample4_roadAddress" for="guide" for="addressbutton">주소</label>
                <input type="text" id="sample4_roadAddress" placeholder="도로명주소" readonly>
                <span id="guide" style="color:#999;display:none"></span>
                <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                <input type="button" onclick="sample4_execDaumPostcode()" id="addressbutton" class="btn btn-warning" value="주소 찾기"><br>
            </div>
            <p class="E_rate"> 환율(달러-원): <span id="exchange"></span> </p>
          </div>
          <div class="button">
            <div id="orderbutton">
              <button type="button" class="btn btn-danger" onclick="order()">주문 하기</button>
            </div>
            <div id="orderboxopen">
              <button type="button" class="btn btn-warning" onclick="boxopen()">주문 확인</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div id="orderbox">
      <h2>주문 확인</h2>
      <table>
        <thead>
        <tr>
            <th>이름</th>
            <th>상의</th>
            <th>상의_개수</th>
            <th>하의</th>
            <th>하의_개수</th>
            <th>이메일</th>
            <th>핸드폰</th>
            <th>주소</th>
        </tr>
        </thead>
        <tbody id="orderinfo">
                  
        </tbody>
      </table>
      <button class="orderboxclose" onclick="boxclose()">Ⅹ</button>
    </div>
  </div>
</body>
</html>
